.content-body {
  margin-left: 15rem;
  margin-right: 5rem;
  padding: 2rem 4rem;
}

.content-body > h2 {
  color: #990900;
  font-size: 2.5rem;
  line-height: 63px;
}

.history-p {
  line-height: 30px;
}
