.content-body {
  margin-left: 15rem;
  margin-right: 5rem;
  padding: 2rem 4rem;
}

.content-body > h2 {
  color: #990900;
  font-size: 2.5rem;
  line-height: 63px;
}

.history-p {
  line-height: 30px;
}

.mobile-page-title {
  display: none;
}

@media only screen and ( max-width : 840px ) {

  body {
    margin: 0;
  }

  .content-body {
    margin: 5rem 1rem;
    padding: 0 1rem;
  }

  .content-body > h2 {
    font-size: 2rem;
    line-height: 63px;
    margin-bottom: 0;
  }

  .mobile-page-title-section {
    background-color: #990900;
    box-shadow: -2px 0.1px 5px black;
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
  }
  
  .mobile-page-title {
    display: block;
  }
  
  .mobile-page-title a {
    color: rgb(255, 153, 0);
    text-decoration: none;
  }
}
