* {
  box-sizing: border-box;
}

.lateral-menu {
  align-items: center;
  background-color: rgb(153, 9, 0);
  /* border-bottom: 5px solid rgb(255, 153, 0);
  border-top: 5px solid rgb(255, 153, 0); */
  border-right: 5px solid rgb(255, 153, 0);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  max-width: 15rem;
  min-width: 13rem;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 16%;
}

.lateral-menu-list {
  list-style-type: none;
  margin-bottom: 3rem;
  padding: 0;
}

.lateral-menu-list ul {
  list-style-type: none;
  margin: 1rem 0 1.5rem;
}

.lateral-menu-list li {
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sub-menu {
  visibility: hidden;
  transition: transform .3s ease;
}

.is-open {
  visibility: visible;
}

.lateral-menu-list button {
  cursor: pointer;
}

.lateral-menu-list ul li {
  font-size: 0.9rem;
}

.lateral-menu-list li > div {
  font-size: 0.7rem;
  display: inline-block;
  margin-left: 0.5rem;
  width: fit-content;
}

.toggle-arrow {
  transform: rotate(180deg);
  transition-duration: 1s;
}

.lateral-menu-list a {
  text-decoration: none;
}

.peabiru-logo {
  height: auto;
  padding: 2rem 1rem 0;
  margin-bottom: 3rem;
  width: 100%;
}

.social-media {
  padding-bottom: 1.5rem;
  margin-top: 4rem;
}

.social-media img {
  height: auto;
  padding: 0 1.5rem;
  width: 5rem;
}

ul > li {
  position: relative;
}

ul > li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 153, 0);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

ul > li:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
